<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <div class="wrap">
        <div class="card">
            <h1>Login</h1>

            <label>Email</label>
            <input id="email" type="email" placeholder="email" autocomplete="username">

            <label>Password</label>
            <input id="password" type="password" placeholder="password" autocomplete="current-password">

            <button id="btnLogin">Entra</button>

            <button id = "btnGoRegister" class="secondary">Crea Un account</button>

            <div id="msg" class="msg error hidden"></div>
            <div class="muted">Dopo il login verrai reindirizzato a Movimenti.</div>
        </div>
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>